/*'Reset*/
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin:0px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear::after, .clear::before{
    content: "";
    display: table;
    clear: both;
}

nav{
    background-color: #000;
    padding:20px 0;
}

nav ul li:after{
    content:"";
    background-color: white;
    width: 0;
    height: 5px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover::after{
    width: 100%;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.125em
}

nav ul{
    float: right;
}

nav ul li{
    display:inline-block;
    margin:10px 10px;
}

/*2 - Section Chamada */

#chamada{
    background:url('../img/bg-intro.jpg') no-repeat center center;
    padding: 150px 0;
}

#chamada h1, #chamada h5{
    color: #ffffff;
    text-align: center;

}

#chamada h1::after{
    content:"";
    background:#fff;
    width: 20px;
    height:4px;
    display: block;
    margin: 10px auto 0 auto;
}

#chamada h1{
    font-size: 3em;
    text-transform: uppercase;
    
}

#chamada h5{
    font-size: 1.125em;
    font-style: italic;
    text-align: center;
}

#valores p{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    font-size: 1.125em;
    margin: 20px auto;
}

#valores h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}

#valores .valor{
    margin: 0 10px;
    float: left;
}

#valores .valor h3{
    width: 220px;
    font-size:2.25em;
    background-color:black;
    padding: 5px 0 10px 0;
    color: white;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    top: -25px;
}

#Tipos-cafe .Tipo-item{
    width: 300px;
    float: left;
    margin: 10px;
}

#Tipos-cafe .Tipo-item p{
    font-size: 0.875em;
}

#Tipos-cafe .Tipo-item h2{
    font-size: 2.25em;
    text-align: center;
}

#Tipos-cafe {
    background: #e7e4d8
}
#Tipos-cafe .Tipo-item h2::before{
    content: "";
    width:100px;
    height:100px;
    display:block;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;  
}
#Tipos-cafe .Tipo-item #Paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#Tipos-cafe .Tipo-item #Carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}

#Tipos-cafe .Tipo-item #Mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#Tipos-cafe a{
    width: 150px;
    font-size:1.1em;
    background-color:#e7e4d8;
    padding: 5px 0 5px 0;
    color: black;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    display: block;
    margin: 20px auto;
    transition: 0.3s
}

#locais-item h2{
    width: 150px;
    font-size:1.1em;
    background-color:#e7e4d8;
    padding: 5px 0 5px 0;
    color: black;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    display: block;
    margin: 20px auto;
    transition: 0.3s
}

#Tipos-cafe a:hover{
    background-color: black;
    color:#fff
}

@media (max-width: 960pb) {
    #valores.container{
        max-width: 600px;
    }
    #valores.valor img{
        max-width: 280px;
    }
    #valores.valor h3{
        font-size: 1.125em;
    }
}
@media (max-width:600px) {
    #valores .container{
        max-width: 300px;
    }
    #valores .valor{
        margin: 20px 0;
    }
    #valores .valor img{
        width: 300px;
    }
    #valores .valor h3{
        font-size: 2.25em;
        margin: 0 auto;
    }
}
#Locais .valor h1{
    font-size:2.25em;
    padding: 20px 0 10px 0;
    color: black;
    text-align: center;
    font-style: arial;
    float: right;
    top: 0;
    margin: 20px auto;

}

#Locais .valor td{
    font-size: 1.4em;
    font-style: Times;
}

#Locais a{
    width: 150px;
    font-size:1.1em;
    background-color:#e7e4d8;
    padding: 5px 0 5px 0;
    color: black;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    display: block;
    margin: 20px auto;
    transition: 0.3s;
    align-content: right;
}
#Locais a:hover{
    background-color: black;
    color:#fff
}

.assine {
    background: #e7e4d8;
    padding: 30px 0;
}

.assine-container {
    max-width: 960px;
    margin: 0 auto;
}

.assine-container::after, .assine-container::before {
    content: '';
    display: table;
    clear: both;
}

.assine-info {
    width: 460px;
    margin: 0 10px;
    float: left;
}

.assine-info h2 {
    font-size: 2.25em;
}

.assine-info p {
    font-size: 1.5em;
    font-style: italic;
}

.assine form {
    width: 460px;
    margin: 10px 10px 0 10px;
    float: left;
}

.assine form label {
    display: none;
}

.assine input {
    width: 320px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 10px;
    float: left;
}

.assine button {
    background: #252525;
    border: none;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 114px;
    padding: 13px 0;
    color: #fff;
    cursor: pointer;
}   

@media (min-width: 740px) and (max-width: 980px) {
    .assine-container {
        max-width: 720px;
    }
    .assine-info, .assine form, .assine input {
        width: 340px;
    }
}

@media (max-width: 739px) {
    .assine-container {
        max-width: 300px;
    }
    .assine-info, .assine form, .assine input {
        width: 300px;
        margin: 10px 0 0 0;
    }
}

/*Footer*/

.footer {
    background: #d6d3c8;
    padding: 40px 0;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}

.footer-container::after, .footer-container::before {
    content: '';
    display: table;
    clear: both;
}

.footer p {
    float: left;
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
}

.footer img {
    float: right;
    margin: 0 10px;
    display: block;
}

@media (max-width: 739px) {
    .footer-container {
        max-width: 300px;
    }
    .footer p {
        float: none;
        margin: 0px;
    }
    .footer img {
        float: none;
        margin: 20px 0;
    }
}
